
.container {
    display: grid;
    height: 100vh;
    grid-gap: 5px;
    grid-template-columns: 25vw auto;
    grid-template-rows: 15vh auto auto auto 7vh;
}


body {
    background-color: black;
    margin: 0;
    font: 14px sans-serif;
}

.item {
    background-color: rgb(75, 75, 75);
    font-size: 25px;
    color: white;
    padding: 10px;
}

.Entete {
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: #69ddc1;
    font-family: 'Black_Han_Sans', sans-serif;
    vertical-align: center;

}

.G2 {
    grid-column: 1;
    grid-row: 3/5;
    background-color: #eef4f9;
    color: #282726;
}

.G1 {
    grid-column: 1;
    grid-row: 2;
    background-color: #eef4f9;
    color: #282726;
}

.A1 {
    grid-column: 2/5;
    grid-row: 2/5;
    background-color: #eef4f9;
    color: #282726;
}

.Footer {
    grid-column: 1/5;
    grid-row: 5;
    background-color: #282726;
    border-top: solid 3px;
    border-color: #282726;
    text-align: center;
}

h1 {
    text-align: center;
}

label {
    font-size: 20px;
    padding-bottom: 20px;
}

.Nom {
    height: 18px;
    width: 120px;
}

.Prenom {

    height: 18px;
    width: 120px;
}

.mdp {
    width: 120px;
    height: 18px;
}

button{
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background:#324495;
    box-shadow: 0 8px 16px 0 grey;
}

textarea{
    margin: 10px 0;
    resize: none;
}

input{
    margin: 10px 0;
}

button:hover{
    background:#138ba4;
}
